.btn{
    padding: 12px 20px 12px 20px;
    border-radius: 40px;
    color: #1B1C2A;
    background-color: var(--text-color-yellow);
    text-decoration: none;
}


.btn:hover{
    border-radius: 40px;
    color: #1B1C2A;
    background-color: #FDE4A6;
}

.btn-secondary{
    padding: 12px 20px 12px 20px;
    border-radius: 40px;
    color: white;
    background-color: var(--Dark-Blue);
    text-decoration: none;
}

.btn-secondary:hover{
    padding: 12px 20px 12px 20px;
    border-radius: 40px;
    color: white;
    background-color: #535460;
}

.btn-nav{
    padding: 12px 20px 12px 20px;
    border-radius: 40px;
    color: white;
    background-color: var(--bg-dark-tint);
    
}